h1 {color: red ;font-size: 150px}
h2 {color: red;font-size: 100px;}
#t1 {color: blue;font-size: 75px;}
#t2 {color: green;font-size: 75px;}
#t3 {color: black;font-size: 75px;}
th {color: orangered;font-size: 50px;}